<fieldset class="shared-movie-form__fieldset">
  <legend class="shared-movie-form__legend">Share a Youtube movie</legend>

  <%= form_with(model: shared_movie) do |form| %>
    <% if shared_movie.errors.any? %>
      <div style="color: red">
        <span><%= pluralize(shared_movie.errors.count, "error") %> prohibited this shared_movie from being saved:</span>

        <ul>
          <% shared_movie.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :url, "Youtube URL: " %>
    <%= form.text_field :url %>
    <%= form.text_field :user_id, value: current_user.id, hidden: true %>

    <div class="shared-movie-form__submit">
      <%= form.submit value: "Share" %>
    </div>
  <% end %>
</fieldset>
