<div class="top-bar">
  <h2><%= link_to "YouShare", root_url, class: "top-bar__link" %></h2>

  <% if user_signed_in? %>
    <div class="top-bar__after-login">
      Welcome <%= current_user.email %>

      <%= button_tag do %>
        <%= link_to "Share a movie", new_shared_movie_path, class: "top-bar__link" %>
      <% end %>

      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div class="top-bar__login-form">
      <%= form_tag user_session_path do %>
        <%= email_field_tag :email, nil, placeholder: "email", name: "user[email]" %>
        <%= password_field_tag :password, nil, placeholder: "password", name: "user[password]" %>

        <%= submit_tag "Log in" %>
      <% end %>

      <%= button_tag do %>
        <%= link_to "Register", new_user_registration_path, class: "top-bar__link" %>
      <% end %>
    </div>
  <% end %>
</div>
